{% load static%}
<link rel="stylesheet" href="{% static 'StaticPro/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'StaticPro/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'StaticPro/css/slicknav.css' %}">
<link rel="stylesheet" href="{% static 'StaticPro/css/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'StaticPro/css/progressbar_barfiller.css' %}">
<link rel="stylesheet" href="{% static 'StaticPro/css/gijgo.css' %}">
<link rel="stylesheet" href="{% static 'StaticPro/css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'StaticPro/css/animated-headline.css' %}">
<link rel="stylesheet" href="{% static 'StaticPro/css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'StaticPro/css/fontawesome-all.min.css' %}">
<link rel="stylesheet" href="{% static 'StaticPro/css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'StaticPro/css/slick.css' %}">
<link rel="stylesheet" href="{% static 'StaticPro/css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'StaticPro/css/style.css' %}">