 {% load static %}

        {% include "Project/head.html" %}

    <!-- CSS here -->
         {% include "Project/CSShere.html" %}   
</head>
<body class="full-wrapper">
        <!-- ? Preloader Start -->
             {% include "Project/PreloaderStart.html" %} 
            <!-- Preloader Start-->
            <header>
                <!-- Header Start -->
                {% include "Project/HeaderStart.html" %}
                <!-- Header End -->
            </header>
            <!-- header end -->
    <main>
        <!--? Hero Area Start-->
             {% include "Project/HeroAreaStart.html" %}
        <!-- End Hero -->
        <!--? Popular Items Start -->
             {% include "Project/PopularItemsStart.html" %}
        <!-- Popular Items End -->
        <!--? New Arrival Start -->
            {% include "Project/NewArrivalStart.html" %}
        <!--? New Arrival End -->
        <!--? collection -->
            {% include "Project/collection.html" %}
        <!-- End collection -->
        <!--? Popular Locations Start 01-->
             {% include "Project/PopularLocationsStart01.html" %}
        <!-- Popular Locations End -->
        <!--? Services Area Start -->
             {% include "Project/ServicesAreaStart.html" %}
        <!--? Services Area End -->
    </main>
    <footer>
            <!-- Footer Start-->
             {% include "Project/FooterStart.html" %}
        <!-- Footer End-->
    </footer>
        <!--? Search model Begin -->
             {% include "Project/SearchmodelBegin.html" %}
        <!-- Search model end -->
        <!-- JS here -->
             {% include "Project/JShere.html" %}

</body>
</html>