{% load static%}

{% include "Project/head.html" %}

    <!-- CSS here -->
   {% include "Project/CSShere.html" %}
    
</head>
<body class="full-wrapper">
    <!-- ? Preloader Start -->
    {% include "Project/PreloaderStart.html" %}
    <!-- Preloader Start-->
    <header>
        <!-- Header Start -->
        {% include "Project/HeaderStart.html" %}
        <!-- Header End -->
    </header>
    <!-- header end -->
    <main>
        <!-- breadcrumb Start-->
        {% include "Project/breadcrumbStartShop.html" %}
        <!-- listing Area Start -->
        {% include "Project/listingAreaStart.html" %}
<!-- listing-area Area End -->
<!--? Popular Items Start -->
        {% include "Project/PopularItemsStart.html" %}
<!-- Popular Items End -->
<!--? Services Area Start -->
        {% include "Project/ServicesAreaStart.html" %}
<!--? Services Area End -->
</main>

<footer>
    <!-- Footer Start-->
        {% include "Project/FooterStart.html" %}
  <!-- Footer End-->
</footer>
<!--? Search model Begin -->
    {% include "Project/SearchmodelBegin.html" %}
<!-- Search model end -->
<!-- JS here -->

{% include "Project/JShere.html" %}

</body>
</html>